.details {
    display: flex;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 100%;
    margin: 2 4rem;
    border: 1px dotted rgb(173, 129, 17);
}

.assignments {
    padding: 2rem 8rem;
}

